@charset "utf-8";

.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.off {
	display: none;
}

.on {
	display: block;
}

#green-dot-button {
	position: fixed;
	bottom: 11px;
	left: 50%;
	transform: translate(-50%);
	width: 50px;
	height: 50px;
	border-radius: 50%;
	box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .17);
	border: none;
	background-color: #fff;
}

.green-dot__inner-circle {
	position: absolute;
	display: block;
	width: 40px;
	height: 40px;
	background-color: #0f0;
	border-radius: 50%;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.green-dot-wrapper {
	position: fixed;
	display: block;
	width: 330px;
	height: 330px;
	margin: 0 auto;
	overflow: hidden;
	bottom: calc(50% - 160px);
	left: 0;
	right: 0;
	z-index: 99;
	border-radius: 100%;
	box-shadow: 0 2px 12px 0 rgb(0 0 0 / 30%);
}

#green-dot-lists {
	display: absolute;
	width: 100%;
	height: 100%;
}

.green-dot-element {
	margin: -31px 0 0 -31px;
	width: 62px;
	height: 62px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
}

.green-dot-element a {
	text-decoration: none;
	display: inline-block;
	position: relative;
	border-radius: 50%;
	font-size: 14px;
}

.green-dot-circle {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 50%;
	width: 110px;
	height: 110px;
	background: linear-gradient(150deg, #0f0, #4195f5);
	box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.5);
}

#green-dot-close-button {
	width: 55px;
	height: 55px;
	border-radius: 50%;
	border: 2px solid #fff;
	background-color: rgba(255, 255, 255, .5);
}

.pannel {
	display: none;
}

.show-pannel {
	display: block;
}